[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/mak/Desktop/steam.desktop]
row=2
col=1

[66A60291A6026243]
row=2
col=0

[01D826735CB4D8C0]
row=1
col=0

[3d71d430-bf0f-4e07-bced-fb95a036a691]
row=0
col=0

[Trash]
row=3
col=0

[/]
row=0
col=1

[/home/mak]
row=1
col=1

