[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/mak/Desktop/steam.desktop]
row=4
col=0

[/home/mak/Desktop/OpenTTD.desktop]
row=8
col=0

[/home/mak/Desktop/رسم فنی تخصصی.pdf]
row=0
col=0

[Trash]
row=2
col=0

[/]
row=1
col=0

[/home/mak]
row=3
col=0

